<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/error.css">
    <title>401 Unauthorized</title>
</head>
<body>
    <div class="container">
        <article>
            <h1>401 Unauthorized</h1>
            <p>Anda tidak memiliki hak untuk mengakses halaman ini.</p>
            <p>Silahkan kembali ke Beranda.</p>
            <form action="/">
                <button class="error-button">Ke Beranda</button>
            </form>
        </article>
        <footer><img src="images/logo_dr.png" alt="" srcset=""></footer>
    </div>

</body>
</html>