<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/error.css">
    <title>500 Internal Server Error</title>
</head>
<body>
    <div class="container">
        <article>
            <h1 class="none650px">500 Internal Server Error</h1>
            <h1 class="px650">500<br>Internal Server Error</h1>
            <p>Server mengalami kegagalan proses.</p>
            <p>Silahkan kembali ke halaman Beranda, dan kembali sesaat lagi.</p>
            <p>Jika masalah berlanjut, silahkan hubungi Administrator Sistem.</p>
            <form action="/">
                <button class="error-button">Ke Beranda</button>
            </form>
        </article>
        <footer><img src="images/logo_dr.png" alt="" srcset=""></footer>
    </div>

</body>
</html>