    <%= form_tag root_path, method: :get do %>
        <div class="result">
            <div class="error-2-profile">
                <p><strong>
                    Mohon maaf, Anda tidak boleh mengaitkan lebih dari 2 (dua) profile / Data Diri Santri berbeda pada 1 (satu) akun,
                    atau Anda sudah mengaitkan akun ini sebelumnya.
                </strong></p>
            </div>
            <button class="register" type="submit"><span>Ke Beranda</span></button>
            <div class="registered not-listed">
                <p>Bukan Anda / lupa akses masuk ? <a href="#" style="color: forestgreen;">Klik disini</a></p>
            </div>    
        </div>        
    <% end %>