.container {
    margin: auto;
}

article {
    margin: 23px auto auto auto;
}

a {
    color: black;
}

a:hover {
    color: forestgreen;
}

header {
    justify-content: center;
    margin-top: auto;
}

.login-title {
    text-align: center;
    padding: 0 50px;
    margin-bottom: 20px;
}

.login-title h1{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}

.form {
    width: 100%;
    max-width: 400px;
}

.field {
    font-size: 17px;
    position: relative;

}

.field i {
    float: right;
    position: relative;
    margin-top: -55px;
    cursor: pointer;
    font-size: 22px;
}

.field.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.remember-me {
    display: flex;
    justify-content: space-between;
}

.remember-me input {
    width: 20px;
    height: 20px;
}

.remember-me label, .forgot-password {
    margin-top: 3px;
}

button.login {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.login-oauth {
    text-align: center;
    font-size: 17px;
}

.login-oauth p {
    margin-bottom: 10px;
}

.login-oauth a {
    font-size: 25px;
    margin: 20px auto;
    padding: 0 5px;
}

.login-oauth .bi-facebook {
    color: blue;
}

.login-oauth .bi-google {
    color: red;
}

.login-oauth .bi-github {
    color: black;
}

.not-registered {
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 1vh;
}